# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!terraform.tfvars
!terraform.tfvars.example
crash.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
*.pem
*.key
.env

# Python
__pycache__/

# Local dev files
*-local.py